<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Angler"
          [(ngModel)]="Angler"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchAngler()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Catches List</h4>
      <!--
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let catch of catches; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveCatch(catch, i)"
        >
          {{ catch.Angler }}
        </li>
      </ul>
  -->
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCatches()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentCatch">
        <h4>Catch</h4>
        <div>
          <label><strong>Angler:</strong></label> {{ currentCatch.username }}
        </div>
        <div>
          <label><strong>Fish:</strong></label>
          {{ currentCatch.fishId }}
        </div>
       
  
        <a class="badge badge-warning" routerLink="/catches/{{ currentCatch.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentCatch">
        <br />
        <p>Please click on a Catch...</p>
      </div>
    </div>
  </div>