<div class="container">
    <div class="jumbotron">
      <h1>Angler Groups</h1>
      <p>Explore Groups on our platform</p>
    </div>
  </div>
<div class="container">
  <h2>Group 1</h2>
  <p>Find like minded fishermen in a group that applies to you!</p>
  ><br>
  
  <!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
      <img src="img_avatar1.png" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Group Name</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <hr>
</div>
<div class="container">
    <h2>Group 2</h2>
    <p>Group Name.</p>
    <p></p><br>
    
    <!-- Left-aligned media object -->
    <div class="media">
      <div class="media-left">
        <img src="img_avatar1.png" class="media-object" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Left-aligned</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <hr>
    
    <!-- Right-aligned media object -->

  </div>
